site_name: CropSuiteLite Documentation
theme:
  name: material
  features:
    - navigation.instant
    - navigation.tabs
    - search.highlight
    - search.suggest
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
    - scheme: slate
      primary: indigo
      accent: indigo
  highlightjs: false
  logo: imgs/atlas-a.svg

nav:
  - Home: index.md
  - Installation: installation.md
  - Getting Started:
      - Getting_Started/download_cmp6.md
      - Getting_Started/from_climatedata_tocrsdatatype.md
      - Getting_Started/running_cropsuite.md
  - Atlas Solutions: 
      - atlas_solutions/atlas_solution_example.md
      - atlas_solutions/data_visualization.md
      - atlas_solutions/supporting_material.md

  - API Reference:
      - CropSuite Modules: 
        - api/datasets.md
        - api/main.md
        - api/solutions.md

plugins:
  - search
  - macros
  - table-reader
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            show_source: false

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      auto_title: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.tabbed
  - pymdownx.details
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css
  - stylesheets/extra.css
  - https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css

extra_javascript:
  - https://code.jquery.com/jquery-3.7.0.min.js
  - https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js
  - javascripts/tables.js  # We will create this file next